@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular,500,700);

oswald-regular {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
}

oswald-500 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
}

oswald-700 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
}
